.page{
	width: 100%;
	height: 100%;
	background-color:#FFFFFF ;
	display: flex;
	flex-direction: column;
	position: absolute;
}

/* 图书馆图片 */
.library-icon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 60upx;
	margin-bottom: 40upx;
}
.icon-style{
	width: 200upx;
	height: 200upx;
	border-radius: 100%;
	align-self: center;
	background-color: #C0C0C0;
}

/* 图书馆名称 */
.library-name{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 30upx;
	margin-top: 30upx;
}
.typeface{
	font-size: 40upx;
	font-weight: bold;
	color: #007AFF;
}
.fenge{
	width: 100%;
	height: 30upx;
}
/* 学号和密码输入 */
.num-and-pass{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.num-pass2{
	display: flex;
	flex-direction: row;
	background-color: #FFFFFF;
	width: 80%;
	border: solid 1px #808080;
}
.num-pass-icon{
	width: 80upx;
	height: 80upx;
	padding: 15upx 15upx;
	flex-shrink: 0;
}
.input{
	align-self: center;
	font-size: 34upx;
	height: 80upx;
}
.num-pass{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/* 学号和密码输入end */

/* 忘记密码 */
.forget{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.forget2{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 80%;
	margin-bottom: 30upx;
	margin-top: 30upx;
}
.fg{
	font-size: 30upx;
	color: #007AFF;
}

/* 登录按钮 */
.btn-style{
	width: 80%;
}

/* 提示 */
.tip{
	white-space: nowrap;
	margin-top: 50upx;
	position: fixed;  
	bottom: 20upx;
	align-self: center;
}
.tips{
	height: 100%;
	width: 80%;
}
.tip-text{
	font-size: 25upx;
	color: #007AFF;
	
}
.fenge2{
	width: 0.5px;
	height: 100%;
	background-color:#808080 ;
	margin-right: 10upx;
}
.fenge3{
	width: 0.5px;
	height: 100%;
	background-color:#808080 ;
	margin-right: 10upx;
}